*.egg*
*.pyc
data
*_prof
build
*.pgc
.noseids
vehicles_olympics_config
display_demo.html
display_demo.html_resources
out-*
out
skins_demo*
display_demo
src/raytracer/install
dist
index.html_resources/
index.html_resources/
index.html
vehicles_demo_display_vehicles/
py2cairo-1.10.0
py2cairo-1.10.0.tar.bz2
.compmake_history.txt
